@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="content-wrapper">
    <div class="content d-flex justify-content-center align-items-center">
        <div class="login-form">

            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <img src="~/global_assets/images/logo-sm.png" class="mb-2" style="width:105px;height: 60px;" />
                    </div>

                    <h6>
                        Please check your email to reset your password.
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
