@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!-- Main content -->
<div class="content-wrapper">

	<!-- Content area -->
	<div class="content d-flex justify-content-center align-items-center">

		<!-- Registration form -->
		<form id="account" class="login-form" method="post">
			<div class="card mb-0">
				<div class="card-body">
					<div class="text-center mb-4">
						<img src="~/global_assets/images/logo-sm.png" style="width:105px;height: 60px;" />

					</div>

					<div class="form-group text-center text-muted content-divider">
						<span class="px-2">LogIn</span>
					</div>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group form-group-feedback form-group-feedback-left">

						<input asp-for="Input.Email" class="form-control" placeholder="Username" autocomplete="username" aria-required="true">
						<div class="form-control-feedback">
							<i class="icon-user-check text-muted"></i>
						</div>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>

					<div class="form-group form-group-feedback form-group-feedback-left">

						<input asp-for="Input.Password" class="form-control" placeholder="Password" autocomplete="current-password" aria-required="true">
						<div class="form-control-feedback">
							<i class="icon-user-lock text-muted"></i>
						</div>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>

					<div class="form-group d-flex align-items-center">
						<label class="form-check-label">
							<input type="checkbox" asp-for="Input.RememberMe" name="remember" class="form-input-styled">
							Remember
						</label>

						<a id="forgot-password" asp-page="./ForgotPassword" class="ml-auto">Forgot password?</a>
					</div>

					<div class="form-group">
						<button type="submit" class="btn bg-teal-400 btn-block">Log in <i class="icon-circle-right2 ml-2"></i></button>
					</div>
					<div class="form-group">

						<a id="forgot-password" asp-page="./Register" class="float-start">Create account.</a>
					</div>
				</div>
			</div>
		</form>
		<!-- /registration form -->

	</div>
	<!-- /content area -->


</div>
<!-- /main content -->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
