@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="content-wrapper">
    <div class="content d-flex justify-content-center align-items-center">
        <div class="login-form">

            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <img src="~/global_assets/images/logo-sm.png" class="mb-2" style="width:105px;height: 60px;" />
                    </div>

                    <p>
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>