@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<!-- Main content -->
<div class="content-wrapper">

	<!-- Content area -->
	<div class="content d-flex justify-content-center align-items-center">

		<!-- Registration form -->
		<form id="account" class="login-form" method="post">
			<div class="card mb-0">
				<div class="card-body">
					<div class="text-center mb-4">
						<img src="~/global_assets/images/logo-sm.png" style="width:105px;height: 60px;" />

					</div>

					<div class="form-group text-center text-muted content-divider">
						<span class="px-2">Reset Password</span>
					</div>

					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<input asp-for="Input.Code" type="hidden" />
					<div class="form-group form-group-feedback form-group-feedback-left">

						<input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true">
						<div class="form-control-feedback">
							<i class="icon-user-check text-muted"></i>
						</div>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>

					<div class="form-group form-group-feedback form-group-feedback-left">

						<input asp-for="Input.Password" class="form-control" placeholder="New Password" autocomplete="new-password" aria-required="true">
						<div class="form-control-feedback">
							<i class="icon-user-lock text-muted"></i>
						</div>
						<span asp-validation-for="Input.Password" class="text-danger"></span>
					</div>

					<div class="form-group form-group-feedback form-group-feedback-left">

						<input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="new-password" aria-required="true">
						<div class="form-control-feedback">
							<i class="icon-user-lock text-muted"></i>
						</div>
						<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
					</div>

					<div class="form-group">

						<label class="form-check-label">
							Remember Password? <a asp-page="./Login">Log in</a>
						</label>

					</div>

					<div class="form-group">
						<button type="submit" class="btn bg-teal-400 btn-block">Reset <i class="icon-circle-right2 ml-2"></i></button>
					</div>

				</div>
			</div>
		</form>
		<!-- /registration form -->

	</div>
	<!-- /content area -->


</div>
<!-- /main content -->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

